<!-- Developer Banner Include -->
<div class="developer-banner">
    <div class="developer-title">
        <h1>DEVELOPER</h1>
    </div>

    <div class="developer-grid">

        <a href="{{ site.tags.build.first.url | relative_url }}">
            <div class="developer-card">
                <div class="card-image">
                    <img src="{{ '/assets/images/banner/build.jpg' | relative_url }}" alt="WHAT I BUILD" />
                </div>
                <div class="card-title">
                    <h3>WHAT I BUILD</h3>
                </div>
            </div>
        </a>

        <a href="{{ site.tags.solve.first.url | relative_url }}">
            <div class="developer-card">
                <div class="card-image">
                    <img src="{{ '/assets/images/banner/me after 5 hours of coding.png' | relative_url }}"
                        alt="WHAT I SOLVE" />
                </div>
                <div class="card-title">
                    <h3>WHAT I SOLVE</h3>
                </div>
            </div>
        </a>

        <a href="{{ site.tags.learn.first.url | relative_url }}">
            <div class="developer-card">
                <div class="card-image">
                    <img src="{{ '/assets/images/banner/learn.jpeg' | relative_url }}" alt="WHAT I LEARN" />
                </div>
                <div class="card-title">
                    <h3>WHAT I LEARN</h3>
                </div>
            </div>
        </a>

        <a href="{{ site.tags.think.first.url | relative_url }}">
            <div class="developer-card">
                <div class="card-image">
                    <img src="{{ '/assets/images/banner/home.jpeg' | relative_url }}" alt="WHAT I THINK" />
                </div>
                <div class="card-title">
                    <h3>WHAT I THINK</h3>
                </div>
            </div>
        </a>
    </div>
</div>