// Styles for 404 page centering
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
  background-color: #000;
  color: #fff;
}

.not-found-container h1 {
  font-size: 5rem;
  color: #fff;
  font-family: Impact, 'Arial Black', sans-serif;
}

.not-found-container>img {
  max-width: 70%;
}